{% extends "template.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
    <h1>About Us</h1>
    <p>
		My Fitness Buddy was created keeping in mind the fitness goals of different individuals. Whether you are a working parent or a college student, we have tailor made workouts and macro calculators to meet your fitness goals.
	</p>
	<p>
		Are you Looking for a little extra guidance or inspiration to help you meet your fitness goals? As a My Fitness Buddy member, you can take advantage of our free fitness training or find your motivation by reading real member experiences.It’s our goal to provide all the support you need to reach your fitness goals.
	</p>
	<p>Welcome to My Fitness Buddy !</p>
{% endblock %}