{% extends "template.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h1>My Fitness Buddy</h1>
    <p>
		Physical activity helps to reduce body fat by building or preserving muscle mass and improving the body's ability to use calories. When physical activity is combined with proper nutrition, it can help control weight and prevent illnesses.
	</p>
    <p>
		My Fitness Buddy Website has been designed keeping your health and Fitness in mind.We offer various Fitness calculators and Workout programs tailormade for you.
	</p>
{% endblock %}