<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fitness - {% block title %}{% endblock %}</title>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/calculator.js') }}"></script>
		<script type="text/javascript">
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% block head %}
			<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}"/>
		{% endblock %}
	</head>
<body>

	{% include "snippets/header.html" %}

	<div class="row">
	
		{% include "snippets/left.html" %}
		
		<div class="col-s-6">
		
			{% block content %}{% endblock %}
		
		</div>
		
	</div>
	
	{% include "snippets/footer.html" %}
	
</body>
</html>